
/* about */

.about {
    width: 100%;
    height: 100vh;
    background-color: #f1c5c5;
    background-color: var(--grey);
}

.about .area {
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto;

    border: 0px solid yellow;

    display: flex;
}

/* left */
.about .left {
    flex: 1;

    color: var(--black2-text);
}

.about .left .account {
    margin: 180px 40px 40px 40px;
}

.about .left .skills {
    margin: 60px 40px 40px 40px;
}

.about .left h1 {
    position: absolute;

    margin-top: 40px;
    margin-left: 40px;

    font-size: 60px;
    font-family: var(--pan-font);
}

.left h2 {
    margin-bottom: 20px;
}

.left h2 {
    font-size: 30px;
    font-family: var(--kor-font);
    letter-spacing: 0.01em;
}

.left p {
    margin: 5px 10px 10px 10px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    font-family: var(--kor-font);
    letter-spacing: 0.1em;
}

.left .skills i {
    font-size: 1.5em;
    cursor: pointer;
}

.left .skills .skill_box {
    display: none;
}

.left .skills .minus {
    display: none;
}

/* right */
.about .right {
    flex: 1;

    text-align: right;
    color: var(--black2-text);
    border: 0px solid blue;
}

.right > div, .right > span {
    margin: 180px 40px 40px 40px;
}

.right .profile {
    display: inline-block;
    width: 400px;
    height: 400px;

    background-image: url(../img/exprofile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
}

.right .hist, .right .hobby {
    margin-top: 20px;
}

.right h2 {
    font-size: 30px;
    font-family: var(--kor-font);
    letter-spacing: 0.01em;
}

.right p {
    margin: 3px 10px;

    font-size: 12px;
    font-weight: 700;
    line-height: 1.3;
    font-family: var(--kor-font);
    letter-spacing: 0.1em;
}


.about .btn {
    color: var(--black2-text);
}