/* intro */

.intro {
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa6e9, #7bb0ed, #70baee, #66c6ee, #67d1ea, #72dae4, #84e3dd); */
    background-image: url(../img/introbg.jpg);
    background-image: url(../img/introbg2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro .area {
    position: relative;
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    border: 0px solid red;
}

.intro .area .h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--pop-font);
    font-weight: 600;
    font-size: 80px;
    color: var(--white-text);
    letter-spacing: 0.0em;
    line-height: 1.2;
    padding: 60px 100px;
    text-align: center;
    width: 950px;
    background-color: rgba(0, 0, 0, 0.2);
}

.intro .area .h1>div {
    font-size: 18px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 0.5em;
    font-family: var(--a1-font);
}

.intro .area h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -55px;
    margin-left: -220px;
    color: var(--white-text);
    font-size: 20px;
    font-weight: 700;
    font-family: var(--DM-font);
    letter-spacing: 0.52em;
}

.intro .area .h1 span {
    font-size: 8px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.06em;
    margin-left: -8px;
}

.intro .filter {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(43, 43, 43);
    opacity: 0.1;
}


/* .intro .btn2 {
    position: absolute;
    top: 30%;
    width: 80px;
    height: auto;
    text-align: right;
    background-color: var(--light-red);
    color: var(--white-text);
}

.btn2 p {
    padding-right: 12px;
    font-family: var(--mot-font);
    font-size: 12px;
    line-height: 2.2; 
}
*/