@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* font-family: 'Orbitron', sans-serif; */

@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

/* font-family: 'NanumSquareRound',sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/* font-family: 'DM Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/* font-family: 'Fredericka the Great', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

/* font-family: 'Modak', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

/* font-family: 'Tangerine', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

/* font-family: 'Black Han Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* font-family: 'Permanent Marker', cursive; */


@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,900&family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@400;700&display=swap');
/* 
font-family: 'Mulish', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;
*/

@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
/* font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; */

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Gothic A1', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */



/* 배경 컬러 */

:root {
    /* --bg-color: #0F0023; */
    --dark-blue: #2a363b;
    --light-red: #ff5f5f;
    --white: #f8f8f8;
    --grey: #f5f5f9;
    --orange: #fcbf1e;
    --black: #222222;
    --black2: #333333;
    --gray: #666666;
    --light-gray: #A6A6A6;
}


/* 폰트 컬러 */

:root {
    --white-text: #F5F5F5;
    --black-text: #222831;
    --black2-text: #222222;
}


/* 폰트 패밀리 */

:root {
    --orbt-font: 'Orbitron', sans-serif;
    --mot-font: 'Montserrat', sans-serif;
    --pan-font: 'Tangerine', cursive;
    --kor-font: 'NanumSquareRound', sans-serif;
    --DM-font: 'DM Sans', sans-serif;
    --boot-font: 'Permanent Marker', cursive;
    --han-font: 'Spoqa Han Sans', sans-serif;
    --a1-font: 'Gothic A1', sans-serif;
    --pop-font: 'Poppins', sans-serif;  /* 한글 */

}

*,
body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    outline: 0;
    text-decoration: none;
}

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}