
/* work */

.work {
    width: 100%;
    height: 100vh;
    /* background-color: #BFCFF0; */
    background-color: #A4B1C4;
    background-color: #404040;
}

.work .area {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    border: 0px solid red;
}

.work .container {
    
    position: relative;
    width: 1100px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.work .container .card {
    position: relative;
    width: 80%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.work .container .card .imgbox {
    position: relative;
    width: 100%;
    /* height: 100%; */


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work .container .card .imgbox img {
    width: 80%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    /* height: 600px; */
}

.work .container .card .imgbox .content {
    position: absolute;
    width: 80%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    bottom: -250px;
}

.work .container .card .imgbox .content h3 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
}

.work .container .card .imgbox .content p {
    font-size: 16px;
    font-family: var(--pop-font);
    font-weight: 400;
    padding: 2px;
}

.work .container .card .imgbox .content a {
    margin: 12px 120px;
    color: #FFF;
    font-size: 40px;

    transition: all 0.3s;
}

.work .container .card .imgbox .content a:hover {
    /* color: rgb(2, 2, 2) */
    transform: scale(1.2);
}

.work .container .card .imgbox .content .skilled {
    display: flex;
    width: 300px;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* JS style */

.slick-prev
{
    left: 70px;
}
[dir='rtl'] .slick-prev
{
    right: 70px;
    left: auto;
}
.slick-prev:before
{
    content: url(../font/chevron-left-solid.svg);
}
[dir='rtl'] .slick-prev:before
{
    content: url(../font/chevron-right-solid.svg);;
}

.slick-next
{
    right: 70px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 70px;
}
.slick-next:before
{
    content: url(../font/chevron-right-solid.svg);;
}
[dir='rtl'] .slick-next:before
{
    content: url(../font/chevron-left-solid.svg);;
}
